/*Reset*/
::after , 
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-x: hidden;
} 

/*Root variable*/
:root {
    /*رنگ بک گراند*/
    --color-background-box: #fefbd8;
    /*رنگ متن h1 و h2*/
    --color-heading: #1e1e1e;
    /*رنگ متن فرعی تاریخ و شناسه*/
    --color-secondary: #696969;
    /* رنگ پس زمینه باتن و شماره*/
    --color-btn-bg: #f18973;
    /* رنگ متن باتن و شماره و مستندات*/
    --color-btn-text: #831212;
}

html {
    font-size: 62.5%;
}

body {
    background-color: white;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1.2rem;
    color: var(--color-secondary);
}

/*Container*/
.container {
    width: 100%;
    height: 75%;
    max-width: 1140px;
    margin: 0 auto; 
}

/*Card Titel*/
.card-titel {
    text-align: center;
}

/*Request Bax*/
.request-box {
    height: 100PX;
  display: grid;
  grid-template-columns: repeat(1 ,1fr);
  justify-content: center;
  gap: 1rem;
  margin: 1rem;
}

@media screen and (min-width: 600px) {
    .request-box {
        grid-template-columns: repeat(2 , 1fr);
    }
} 
@media screen and (min-width: 900px) {
    .request-box {
        grid-template-columns: repeat(3 , 2fr);
    }
}

/*Request Card*/
.request-card {
    position: relative;
    background-color: var(--color-background-box);
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*margin-top: 2rem;
    margin-right: 1rem;
    padding-right: 1rem;*/
}

.request-card_date {
   display: flex;
   justify-content: left;
   margin-left: 1rem;
}

/*Header*/
.request-card_header {
    position: relative;
    bottom: 1.25rem;
}

.number {
    background-color: var(--color-btn-bg);
    color: var(--color-btn-text);
    padding: 5px 8px;
    border-radius: 15%;
    font-weight: 700;
}

.upload {
    color: var(--color-btn-text);
    font-size: 1.6rem;
    font-weight: 600;
}

/*Body*/
.request-card_body {
    position: relative;
    bottom: 1rem;
}

/*Footer*/
.request-card_footer {
    display: flex;
    align-items: center;
    padding: 0.25rem;
}

/*Button*/
.request-card_button {
   display: flex;
   justify-content: left;
   position: relative;
   cursor: pointer;
}

.btn {
    position: relative;
    left: 2rem;
    bottom: 5rem;
    background-color: var(--color-btn-bg);
    color: var(--color-btn-text);
    font-size: 1.5rem;
    font-weight: 700;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem;
    outline: 0;
}
.request-card .btn:hover {
    box-shadow: 0 0 12px var(--color-btn-bg);
}
moved card.css to css folder
